.header{
    background-image:linear-gradient( to right bottom, rgba($color-primary-light,0.8),rgba($color-primary-dark,0.8)), 
    url(http://selftaught.howkteam.vn/img/background1.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
    height: 95vh;
    clip-path: ellipse(69% 74% at 50% 22%);
    background-color: $color-primary;
    @include  respond(phone){
        clip-path: ellipse(60% 50% at 50% 20%);

        
    }
    &__logo-box{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    &__logo{
        height: 70px;
    }
    &__text-box{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        @include respond(phone){
            top: 40%;
        }
       
    }
}